doctype html
head
    style
        include ../css/style.css
    title NRoberson-ExpressYourself-Features
body
    include navbar.pug
    div#contentGroup
        h1#header.featureHeader features
        ul#features.featureList
        each feature in featureJSON
            li#name.featureName name: !{feature.name}
            li#description.descriptionText description: !{feature.description}