div#navbarLayout
    nav#navbar
        ul#destinations.destinationList
        each destination in destinations
            a(href=destination.endpoint, name=destination.name).button !{destination.name}