head
    style
        include ../css/style.css
    title NRoberson-ExpressYourself-Orders
body
    include navbar.pug
    form#orderForm(role='form' method='POST' action='http://localhost:3000/orderIntake')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text' placeholder='name' name='name')
        div.form-group
            label(for='email') Email:
            input#email.form-control(type='email' placeholder='name@email.com' name='email')
        div.form-group
            label(for='orderText') Order:
            input#orderInfo.form-control(type='text' placeholder='input requested order here' name='orderInfo')
        button.btn.btn-primary(type='submit' name='submitBtn') Submit
