doctype html
html
    head
        style
            include ../css/style.css
        title NRoberson-ExpressYourself-Home
    body
        include navbar.pug
        h1 Welcome to the Magic Shop