doctype html
html
    head
        style
            include ../css/style.css
        title NRoberson-ExpressYourself-Home
    body
        include navbar.pug
        h1 Welcome to the Magic Shop
    footer#copyright &copy; Nicholas Roberson 2020; I am not affiliated with Wizards of the Coast in any way